* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
}

.container {
  /* width: 425px; */
  width: 600px;
  min-height: auto;
  max-height: 500px;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  display: none;
  /* scrollbar-width: none; for firefox */
}

.wrapper {
  width: 100%;
  min-height: calc(100% - 1.5rem);
  background: white;
  padding: 1rem 0;
}

.toggle-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.toggle-btn-div button {
  width: 80px;
  border: 1px #4fc25581 solid;
  background: white;
}

.toggle-btn-div button:first-child {
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.toggle-btn-div button:nth-child(2) {
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.toggle-btn-div button.active {
  background: #4fc25581;
  border: 1px #4fc25581 solid;
}

main {
  display: flex;
  justify-content: center;
  margin: 1rem;

  text-align: center;
}

main h2 {
  font-size: large;
}

main .group-section {
  width: 40%;
}

main .group-section .window-tabs-group {
  display: none;
  margin: 1rem auto;
}

main .group-section .window-tabs-group.show {
  display: block;
}

main .group-section .group {
  border-radius: 5px;
  background: #4fc25581;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;
}

main .group-section .new-group-hidden {
  display: none;
}

main .group-section .new-group-shown {
  display: block;
  background: transparent;
  border: 1px dashed black;
}

main .group-section .group input {
  /* This avoids the input inside the group messing with the drag over event  */
  pointer-events: none;
  text-align: center;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}

main .group-section .group:hover {
  opacity: 0.8;
}

main .tab-section {
  width: 60%;
  padding-left: 1.5rem;
}

main .tab-section .tab-list-current-group {
  margin: 1rem auto;
  padding: 0.5rem 0.25rem;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

main .tab-section .tab {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #697585;
  border-radius: 5px;
  padding-left: 0.5rem;
  margin-bottom: 8px;
  text-align: left;
  color: black;
  cursor: grabbing;
}

main .tab-section .tab.highlighted {
  background: #cfdbeb;
}

main .tab-section .tab-url {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
}

main .tab-section .tab-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

main .tab-section .tab-btns button {
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  border-left: 1px solid #486982;
}